
.pb-property {
  padding: 10px;
  .pb-property-header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    height: 30px;
    .pb-title {
      width: 80px;
      flex-shrink: 0;
      margin: 0 10px;
    }
    .pb-export-title {
      margin: 0 10px;
    }
  }
}

